.DS_Store
# Игнорировать настройки VS Code
.vscode/

# Игнорировать скомпилированные файлы
*.exe
*.o
*.out
main

# Игнорировать все исполняемые файлы внутри проектов
# Projects/Vending_Machine/main
# Study/Mod_6/main

# Игнорировать исполняемые файлы
*.exe
main
